//! **************************************************************************
// Written by: Map P.20131013 on Sun Jul 31 00:59:55 2022
//! **************************************************************************

SCHEMATIC START;
CONFIG VCCAUX = "3.3";
COMP "a" LOCATE = SITE "A3" LEVEL 1;
COMP "b" LOCATE = SITE "B4" LEVEL 1;
COMP "c" LOCATE = SITE "A4" LEVEL 1;
COMP "d" LOCATE = SITE "C4" LEVEL 1;
COMP "e" LOCATE = SITE "C5" LEVEL 1;
COMP "f" LOCATE = SITE "D6" LEVEL 1;
COMP "g" LOCATE = SITE "C6" LEVEL 1;
COMP "SE0" LOCATE = SITE "B2" LEVEL 1;
COMP "SE1" LOCATE = SITE "A2" LEVEL 1;
COMP "SE2" LOCATE = SITE "B3" LEVEL 1;
COMP "dot" LOCATE = SITE "A5" LEVEL 1;
COMP "led1" LOCATE = SITE "T18" LEVEL 1;
COMP "led2" LOCATE = SITE "T17" LEVEL 1;
COMP "led3" LOCATE = SITE "U18" LEVEL 1;
COMP "led4" LOCATE = SITE "U17" LEVEL 1;
COMP "led5" LOCATE = SITE "N16" LEVEL 1;
COMP "led6" LOCATE = SITE "N15" LEVEL 1;
COMP "led7" LOCATE = SITE "P16" LEVEL 1;
COMP "led8" LOCATE = SITE "P15" LEVEL 1;
COMP "BUTTON_LEFT" LOCATE = SITE "M18" LEVEL 1;
COMP "BUTTON_RIGHT" LOCATE = SITE "L18" LEVEL 1;
COMP "CLK_RAW" LOCATE = SITE "V10" LEVEL 1;
NET "CLK_RAW_BUFGP/IBUFG" PERIOD = 10 ns HIGH 50%;
SCHEMATIC END;

